<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/sale.css">

    <!-- jQuery -->
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom style -->
    <link href="css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/responsive.css" rel="stylesheet"/>

    <!-- custom javascript -->
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
<%- include('header'); -%>

<!-- giới thiệu sản phẩm mới -->
<div class=" bg-new">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <% for(let i = 0 ; i < 4; i++){ %>
                <div class="carousel-item  <% if (i === 0){ %> active<% } %>">
                    <div class="row setting">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 content">
                            <span class="new">New</span>
                            <p class="title-new"><%= product[i].name %></p>
                            <p class="information"><%= product[i].description %></p>
                            <a href="/product?id=<%= product[i].id %>">
                                <button type="button" class="btn btn-primary buy">$<%= product[i].price %> | Mua ngay
                                </button>
                            </a>

                        </div>
                        <div class="col-md-4 img-1">
                            <% if (product[i] && images[i][0]) { %>

                                <a href="/product?id=<%= product[i].id %>">
                                    <img border="0"
                                         src="<%= images[i][0].imageUrl %>"
                                         width="550" height="374" class="d-block w-500 " alt="1">
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

</div>
<div class="container border-top rv">
    <div class="row">
        <% for (var i = 0; i < 3; i++) { %>
            <div class="col-sm-2">
                <% if (product[i] && images[i][0]){ %>
                    <a href="/product?id=<%= product[i].id %>">
                        <img src="<%= images[i][0].imageUrl %>"
                             width="110" height="80">
                    </a>
                <% } %>
            </div>
            <div class="col-sm-2 border-right">
                <a href="/product?id=<%= product[i].id %>" class="card-title"><%= product[i].name %></a>
                <p class="card-text">$<%= product[i].price %></p>
            </div>
        <% } %>

    </div>
</div>

<!-- phần logo thương hiệu -->
<div align="center" class="firm">
    <span class="iconify a1" data-icon="ion-logo-apple" data-inline="false"></span>
    <span class="iconify" data-icon="cib:samsung" data-inline="false"></span>
    <span class="iconify" data-icon="mdi:sony-playstation" data-inline="false"></span>
    <span class="iconify" data-icon="simple-icons:huawei" data-inline="false"></span>
</div>


<div class="container">
    <p style="color: black" class="title-newsp" align="center">Sản phẩm bán chạy</p>
    <div class="row">
        <% for (let i = 0; i < 8; i++) { %>
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <% if (product[i] && images[i][0]){ %>
                        <div class="img-wrap"><img src="<%= images[i][0].imageUrl %>"></div>
                        <figcaption class="info-wrap border-top">
                            <a href="/product?id=<%= product[i]._id %>" class="title"><%= product[i].name %></a>
                            <div class="price mt-2">$<%= product[i].price %></div> <!-- price-wrap.// -->
                        </figcaption>
                    <% } %>
                </figure>
            </div>
        <% } %>

    </div>
    <a href="/search?keyword=" class="btn-light">
        <p align="center">Xem tất cả sản phẩm <i class="fas fa-spinner"></i>
        </p>
    </a>


</div>

<!-- san pham moi -->
<div class="bg-newsp">
    <p class="title-newsp" align="center">Sản Phẩm Mới </p>
    <div id="carouselExampleControls1" class="carousel slide2 " data-ride="carousel">
        <div class="carousel-inner container">
            <% for(let i = 0 ; i < 2; i++){ %>
                <div class="carousel-item <% if (i === 0){ %> active<% } %>">
                    <div class="row container card-bg border-bottom border-right border-left shadow-sm">
                        <% for (let j = i * 4; j < i * 4 + 4; j++) { %>
                            <% if (ProductNew[j].status){ %>
                                <div class="col-sm-3 border-right card-newsp">
                                    <a href="/product?id=<%= ProductNew[j]._id %>">
                                        <% if (product[i] && images[i][0]){ %>
                                            <img src="<%= imagesNew[j][0].imageUrl %>"
                                                 width="140px" height="140px" class="center pic-1">
                                        <% } %>
                                    </a>
                                    <p align="center" class="name-spnew"><%= ProductNew[j].name %></p>
                                    <p align="center" class="card-title"><%= ProductNew[j].description %></p>
                                    <p align="center" class="card-text">$<%= ProductNew[j].price %></p>
                                </div>
                            <% } %>
                        <% } %>

                    </div>
                </div>
            <% } %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

</div>

<!-- gợi ý -->
<div class="bg-goiy">
    <p class="title-newsp" align="center">Gợi ý </p>
    <div id="carouselExampleControls2" class="carousel slide2 " data-ride="carousel">
        <div class="carousel-inner container">
            <% for(let i = 0 ; i < Math.floor(product.length / 4); i++){ %>
                <div class="carousel-item <% if (i === 0){ %> active<% } %>">
                    <div class="row container card-bg border-bottom border-right border-left shadow-sm">
                        <% for(let j = i * 4; j < i * 4 + 4; j++){ %>
                            <div class="col-sm-3 border-right card-newsp">
                                <a href="/product?id=<%= product[j]._id %>">
                                    <img src="<%= images[j][0].imageUrl %>"
                                         width="140px" height="140px" class="center pic-1">
                                </a>
                                <a href="/product?id=<%= product[j]._id %>">
                                <p align="center" class="name-spnew"><%= product[j].name %></p>
                                </a>
                                <p align="center" class="card-title"><%= product[j].description %></p>
                                <p align="center" class="card-text">$<%= product[j].price %></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 bot-goiy">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fas fa-credit-card logoo"></i>
                    </div>
                    <div class="col-sm-9 abc">
                        <span class="span-1">THANH TOÁN TRỰC TUYẾN</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 bot-goiy">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="far fa-clock logoo"></i>
                    </div>
                    <div class="col-sm-9 ">
                        <span class="span-1">HỖ TRỢ TRONG 24H</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 bot-goiy">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="far fa-compass logoo"></i>
                    </div>
                    <div class="col-sm-9 ">
                        <span class="span-1">Free Shipping TOÀN THẾ GIỚI</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 bot-goiy">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="far fa-star logoo"></i>
                    </div>
                    <div class="col-sm-9">
                        <span class="span-1">SẢN PHẨM CHÍNH HÃNG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>

</div>
</body>
</html>