<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/sale.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/responsive.css" rel="stylesheet"/>
    <script src="js/script.js" type="text/javascript"></script>
    <meta charset="utf-8">
</head>

<body>

<%- include('header'); -%>

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Danh mục sản phẩm</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Tìm kiếm sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <% if(keywordSearch){ %>
                        <%= keywordSearch %>
                    <% } else { %>
                        Tất cả sản phẩm
                    <% } %>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Loại sản phẩm</h5>
                        <ul class="list-menu">
                            <li><a href="/search?keyword=điện+thoại">Điện thoại<span
                                            class="badge badge-pill badge-light float-right"><%= products.length %></span>
                                </a></li>
                            <li><a href="/search?keyword=máy+tính+bảng">Máy tính bảng<span
                                            class="badge badge-pill badge-light float-right"><%= products.length %></span>
                                </a></li>
                            <li><a href="/search?keyword=laptop">Laptop<span
                                            class="badge badge-pill badge-light float-right"><%= products.length %></span>
                                </a></li>
                            <li><a href="/search?keyword=phụ+kiện">Phụ kiện<span
                                            class="badge badge-pill badge-light float-right"><%= products.length %></span>
                                </a></li>
                            <li><a href="/search?keyword=khác">Khác<span
                                            class="badge badge-pill badge-light float-right"><%= products.length %></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">

                        <h5 class="card-title">Giá</h5>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Min</label>
                                <input class="form-control" placeholder="$0" type="number">
                            </div>
                            <div class="form-group text-right col-md-6">
                                <label>Max</label>
                                <input class="form-control" placeholder="$10000" type="number">
                            </div>
                        </div> <!-- form-row.// -->

                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Đánh giá</h5>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                        </label>
                    </div>
                </div>
                <button class="btn btn-block btn-primary">Tìm kiếm</button>

            </aside>

            <main class="col-md-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"><%= products.length %> Items found </span>
                        <div class="btn-group">
                            <a href="/search?keyword=<%= keywordSearch %>"
                               class="btn btn-outline-secondary <% if(!grid){ %>active<% } %>"
                               data-toggle="tooltip"
                               title="List view">
                                <i class="fa fa-bars"></i></a>
                            <a href="/search?keyword=<%= keywordSearch %>&views=grid"
                               class="btn btn-outline-secondary <% if(grid){ %>active<% } %>"
                               data-toggle="tooltip"
                               title="Grid view">
                                <i class="fa fa-th"></i></a>
                        </div>
                    </div>
                </header>

                <div class="row">
                    <%- include('products'); -%>
                </div>

            </main>
        </div>
    </div>
</section>

<%- include('footer'); -%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Import jQuery từ CDN -->
<script>
    // Lắng nghe sự kiện submit form
    $('#myForm').submit(function(event) {

        event.preventDefault(); // Ngăn chặn việc tải lại trang
        const formData = $(this).serialize(); // Chuyển đổi dữ liệu form thành chuỗi query string
        const url = '/add_to_cart'; // Đường dẫn API xử lý dữ liệu (thay đổi theo yêu cầu)

        // Gửi yêu cầu POST đến máy chủ Node.js
        $.post(url, formData)
            .done(function(response) {
                console.log(response);
                $(".number-cart").text(response)
            })
            .fail(function(error) {
                console.error(error.message);
            });
    });
</script>

</body>
</html>
