<% if(grid) { %>
    <% products.forEach((product, index) => { %>
        <div class="col-md-3">
            <figure class="card card-product-grid" style="height: 350px">
                <div class="img-wrap"><a href="/product?id=<%= product._id %>"><img
                                src="<%= imageArray[index][0].imageUrl %>"></a>
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="/product?id=<%= product._id %>" class="title"><%= product.name %></a>
                    <div class="price mt-2">$<%= product.price %></div> <!-- price-wrap.// -->
                </figcaption>
            </figure>
        </div>
    <% }) %>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item <% if (currentPage === 1) { %> disabled <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=<%= currentPage === 1 ? 1 : currentPage - 1 %>"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for (let i = 1; i <= numberPage; i++) { %>
                    <li class="page-item"><a class="page-link"
                                             href="/search?keyword=<%= keywordSearch %>&page=<%= i %>">
                            <%= i %>
                        </a></li>
                <% } %>
                <li class="page-item <% if (currentPage === numberPage) { %> disabled <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=<%= currentPage === 1 ? 1 : currentPage - 1 %>"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<% } else { %>
    <% products.forEach((product, index) => { %>
        <article class="card card-product-list" style="width: 850px">
            <div class="card-body">
                <div class="row">
                    <aside class="col-sm-4">
                        <a href="/product?id=<%= product._id %>" class="img-wrap"><img
                                    src="<%= imageArray[index][0].imageUrl %>"></a>
                    </aside> <!-- col.// -->
                    <div class="col-sm-8">
                        <a href="/product?id=<%= product._id %>" class="title mt-2 h5"><%= product.name %></a>
                        <div class="d-flex mb-3">
                            <div class="price-wrap mr-4">
                                <span class="price h5">$<%= product.price %></span>
                            </div> <!-- price-dewrap // -->

                            <!--                            <div class="rating-wrap">-->
                            <!--                                <small class="label-rating text-muted">sale 5%</small>-->
                            <!--                            </div> &lt;!&ndash; rating-wrap.// &ndash;&gt;-->
                        </div>

                        <ul class="list-bullet">
                            <li>Tình trạng: <%= product.status %></li>
                            <li>Màu sắc: <%= product.color %></li>
                            <li>Đánh giá:
                                <% for(let i = 0; i < product.vote; i++) { %>
                                    <i class="fa fa-star" style="color: #ff9017"></i>
                                <% } %>
                            </li>
                        </ul>


                        <div class="form-row">
                            <div class="form-group col-md flex-grow-0">
                                <div class="input-group input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> +</button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> −</button>
                                    </div>
                                </div>  <!-- input-spinner.// -->
                            </div> <!-- col.// -->
                            <div class="form-group col-md">
                                <a href="#" class="btn btn-primary"> <span class="text">Add to cart</span> <i
                                            class="fas fa-shopping-cart"></i> </a>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </article>
    <% }) %>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item <% if (currentPage === 1) { %> d-none <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=1">
                        Trang đầu
                    </a></li>
                <li class="page-item <% if (currentPage === 1) { %> disabled <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=<%= currentPage === 1 ? 1 : currentPage - 1 %>"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for (let i = currentPage - 2; i <= currentPage + 7; i++) { %>
                    <% if(i > 0 && i <= numberPage) { %>
                        <li class="page-item"><a class="page-link"
                                                 href="/search?keyword=<%= keywordSearch %>&page=<%= i %>">
                                <%= i %>
                            </a></li>
                    <% } %>
                <% } %>
                <li class="page-item <% if (currentPage === numberPage) { %> disabled <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=<%= currentPage === numberPage ? 1 : currentPage + 1 %>"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item <% if (currentPage === numberPage) { %> d-none <% } %>">
                    <a class="page-link"
                       href="/search?keyword=<%= keywordSearch %>&page=<%= numberPage %>">
                        Trang cuối
                    </a></li>
            </ul>
        </nav>
    </div>
<% } %>