
<% products.forEach(function(product){ %>
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside">
                    <img src="<%= product.image %>" class="img-sm" />
                </div>
                <figcaption class="info">
                    <a href="chitietsp2.html" class="title text-dark"
                    ><%= product.name %></a
                    >
                    <p class="text-muted small">
                        Thương hiệu: Apple
                    </p>
                </figcaption>
            </figure>
        </td>
        <td>
            <select class="form-control" name="quantity">
                <% for (var i = 1; i <= product.quantity; i++) { %>
                    <% let text = i == product.quantity ? 'selected' : "" %>
                    <option <%= text %>><%= i %></option>
                <% } %>
            </select>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price">1399 $</var>
                <input type="hidden" class="price-value" value="1399">
            </div>
            <!-- price-wrap .// -->
        </td>
        <td class="text-right">
            <button class="btn btn-light btn-remove" data-product-id="<%= product._id %>"> Xoá</button>
        </td>
    </tr>
<% }) %>